---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
// import Image from "astro/components/Image.astro";
import { Image } from 'astro:assets';
import { getEntry } from "astro:content";
import { Formatter } from "../../utils/formatter";

// const blogPosts = await getCollection('blog');

export const getStaticPaths = ( async() => {
    
    const posts = await getCollection('blog')

    return posts.map( p => ({
        params: { slug: p.slug },
        props: { post: p}
    }))
}) satisfies GetStaticPaths;

const { post } = Astro.props
const frontmatter = post.data

const { Content, headings } = await post.render()
const author = await getEntry('author',frontmatter.author.id)
if(!author) return

console.log(author)
---

<BlogLayout title={frontmatter.title}>
    <h1 class="text-xs text-gray-500 mb-0">{frontmatter.title}</h1>
    <!-- <h1 class="text-md text-gray-400 mb-0 " >{author.data.name}</h1> -->

    <div class="text-md text-gray-400 flex mb-0 flex-row mt-2">
        <Image 
            class="rounded-full"
            src={author?.data.avatar}
            alt={author?.data.name}
            width={50}
            height={50}
        />
        <div class="flex- flex-col ml-5">
            <a href={`/blog/${author.id}`}>{author.data.name}</a>
            <span class="text-xs text-gray-200">
                { Formatter.formatDate(frontmatter.date) }
            </span>
        </div>
    </div>
    <Image 
        class="object-cover w-full h-[250px] my-5 rounded-md"
        src={frontmatter.image} 
        width={600} 
        height={220} 
        alt={frontmatter.title}
        transition:name={`${post.slug}-image`}
    />

    <h3>Tabla de contenido</h3>

    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a href={`#${heading.slug}`}>{index + 1} - {heading.text}</a>
                </li>
            ))
        }
    </ol>

    <Content />
    <div class="my-20">
        <a href="#btn-back">Subir</a>
    </div>
</BlogLayout>